echo "# Python" > .gitignore
echo "*.pyc" >> .gitignore
echo "__pycache__/" >> .gitignore
echo ".ipynb_checkpoints/" >> .gitignore
echo "# Jupyter" >> .gitignore
echo ".ipynb_checkpoints" >> .gitignore
echo "# macOS" >> .gitignore
echo ".DS_Store" >> .gitignore
echo "# Large data files" >> .gitignore
echo "*.csv" >> .gitignore
echo "# Except fossildata.csv which is essential" >> .gitignore
echo "!fossildata.csv" >> .gitignore
